* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  background-color: bisque;
  padding: 30px;
}

/* .spann {
  font-size: 40px;
} */
/* .spann::before {
  content: "salam-";
  border: 1px solid red;
} */
/* .spann::after {
  content: "";
  border: 2px solid red;
  display: block;
  width: 40px;
}
.spann::before {
  content: "";
  border: 2px solid rebeccapurple;
  display: block;
  width: 90px;
} */

.boxs {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.firstBox,
.secondBox {
  display: flex;
  gap: 30px;
}
.box {
  height: 200px;
  width: 200px;
}

.box1 {
  background-color: red;
}
.box2 {
  background-color: rebeccapurple;
}
.box3 {
  background-color: green;
}

@media only screen and (max-width: 991px) {
  .boxs {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 767px){
    .firstBox, .secondBox{
        flex-direction: column;
    }
}