* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}
#heroBanner {
  height: 100vh;
  display: flex;
  align-items: center;
}

/* Left section style */

#heroBanner .leftSec {
  background-color: #1a2e35;
  height: 100vh;
  width: 55%;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
}

#heroBanner .leftSec .logo {
  display: flex;
  gap: 8px;
  align-items: center;
}

#heroBanner .leftSec .logo .pageTitle {
  font-size: 28px;
  color: white;
  font-weight: 700;
}

#heroBanner .leftSec .logo img {
  width: 38px;
}

#heroBanner .leftSec .heroInfo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px;
  gap: 20px;
}

#heroBanner .leftSec .heroInfo .infoYouCan {
  color: white;
  font-size: 60px;
  font-weight: 600;
}

#heroBanner .leftSec .heroInfo .infoLong {
  color: white;
}



/* Right Section style */

#heroBanner .rightSec {
  background-color: #1cbbb4;
  height: 100vh;
  width: 45%;
}

#heroBanner .rightSec img {
  max-width: 100%;
}

#heroBanner .rightSec .img {
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
