* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  background-color: bisque;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  /* flex-direction: column;
  flex-direction: row;
  flex-direction: row-reverse;
  flex-direction: column-reverse; */
  /* flex-wrap: nowrap; */
  /* flex-wrap: wrap-reverse; */
  /* justify-content: space-evenly; */
  /* align-items: stretch; */
  /* flex-wrap: wrap; */
  /* align-content: flex-start; */
  /* align-content: center; */
  /* align-content: space-evenly;
  align-content: stretch; */

  /* gap: 40px; */
  /* column-gap: 40px; */
  justify-content: center;
}

.box {
  background-color: red;
  border: 1px solid black;
  height: 100px;
  width: 100px;
  color: white;
  font-size: 30px;
}

.box1 {
  background-color: green;
  order: 1;
  /* flex-grow: 6; */
}

.box2 {
  /* flex-grow: 12; */
  align-self: flex-end;
}
.box3 {
  background-color: blue;
  order: -1;
  /* flex-grow: 6; */
  /* align-self: flex-start; */
}
/* .link {
  display: inline-block;
  background-color: blueviolet;
  color: white;
  width: 400px;
  height: 200px;
  margin: 40px;
  /* padding: 30px; */
*/ span {
  width: 300px;
  background-color: blue;
  height: 200px;
}
