h1 {
  background-color: aquamarine;
  text-align: right;
}

a {
  /* background-color: blanchedalmond; */
  text-align: center;
}

div {
  width: 50%;
}

p {
  text-align-last: justify;
}

.btnLink {
  text-decoration: none;
  border: 1px solid red;
  color: yellow;
  background-color: red;
  border-radius: 12px;
  padding: 10px 15px;
}

.btnLink:hover {
  background-color: yellow;
  color: red;
  border-color: yellow;
}

ul {
  display: flex;
  gap: 15px;
}
